{% extends "basehtml.html" %}


{% block content %}
<div class="container-fluid  text-left">
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <form action="." method="get">
            <div class="col-sm-50">
                <div class="btn btn-default btn-block">
                    Genre
                </div>
            </div>
            {% for g in genres %}
                <input type="checkbox" id="cb" name="{{ g }}" value="True">
                <label for="cb"> {{ g }}</label><br>
            {% endfor %}

            <div class="col-sm-50">
                <div class="btn btn-default btn-block">
                    Year
                </div>
            </div>

               <p class="text-justify">From:</p>
                <input type="range" min="1950" max="2020" value="1950" oninput="this.nextElementSibling.value = this.value" onchange = "document.getElementById('to').min=this.value;" id="from">
                <output>1950</output>
                <p class="text-justify">To:</p>
                <input type="range" min="1950"  min = "document.getElementById('from').value" max="2020" value="2020" value="document.getElementById('from').value"  oninput="this.nextElementSibling.value = this.value" id="to">
                <output>2020</output>
            <input type="submit" class="btn btn-dark" value="Apply" style="right: 4%; position: absolute; "/>
        </form>
    </div>
    <div class="col-sm-8 text-left">

        <h2>Results:</h2>
        <div class="dropdown ">

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by:
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item" href="#">Alphabetic</li>
            <li class="dropdown-item" href="#">Most recent</li>

          </ul>
      </div>
        <div id="list-films" >
            <hr>

                {% if dic %}
                    {% for movies in dic %}
                            <div class="film-card">
                               <a href="http://127.0.0.1:8000/film/{{movies.id}}">
                                    <img class="image-card" src={{movies.cover}}/>
                               </a>
                                <div class="content-card">
                                    <a href="http://127.0.0.1:8000/film/{{movies.id}}">
                                        <h1>{{movies.title}}</h1>
                                    </a>

                                    <br>
                                    <h4>&nbsp;{{movies.year}}</h4>
                                    <h4>
                                      <h4>{% if movies.genres.items %} | {%  endif %}
                                    {% for i in movies.genres.item %}
                                        {{i}} |
                                    {% endfor %}

                                    </h4>
                                    <h4>{% if movies.actors.items %} | {%  endif %}
                                    {% for i in movies.actors.name %}
                                        {{i}} |
                                    {% endfor %}
                                    </h4>
                                    <h4>
                                    {% if movies.directors.items %} | {%  endif %}
                                    {% if movies.directors.name|length == 2 %}
                                        {{ movies.directors.name.0}} |
                                        {{ movies.directors.name.1}}
                                    {% else %}
                                        {{ movies.directors.name}}
                                    {% endif %}
                                     {% if movies.directors.items %} | {%  endif %}
                                    </h4>
                                </div>
                                <div class="rating-card">
                                    {% if movies.rating == None %}
                                        <h2>0.0/10</h2>
                                    {% else %}
                                        <h2>{{movies.rating}}/10</h2>
                                    {% endif %}
                                    {% if movies.votes == None %}
                                        <h5>No votes</h5>
                                    {% else %}
                                        <h5>{{movies.votes}}</h5>
                                    {% endif%}
                                </div>
                            </div>
                            <hr>
                    {% endfor %}
                {% else %}
                    <p>not</p>
                {% endif %}


        </div>

    </div>
    <div class="col-sm-2 sidenav" >
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if num_page|add:"-10" >= 1 %}
            <a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"-10" }}" tabindex="-1">&lt&lt</a>
        {% else %}
            <a class="page-link" href="http://127.0.0.1:8000/search/1" tabindex="-1">&lt&lt</a>
        {% endif %}
    </li>
    <li class="page-item">
        {% if num_page|add:"-1" >= 1 %}
            <a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"-1" }}" tabindex="-1">&lt</a>
        {% else %}
            <a class="page-link" href="#" tabindex="-1">&lt</a>
        {% endif %}
    </li>
    {% if num_page != num_pages_total %}
        {% if num_page != 1 %}
            <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/1">1</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
        {% endif %}
        {% for n in pages_inds %}
            {% if n < num_pages_total %}
                <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/{{ n }}">{{ n }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/{{ num_pages_total }}">{{ num_pages_total }}</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/1">1</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"-4" }}">{{ num_page|add:"-4" }}</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"-3" }}">{{ num_page|add:"-3" }}</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"-2" }}">{{ num_page|add:"-2" }}</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"-1" }}">{{ num_page|add:"-1" }}</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page }}">{{ num_page }}</a></li>
    {% endif %}
    <li class="page-item">
        {% if num_page|add:"1" <= num_pages_total %}
            <a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"1" }}">&gt</a>
        {% else %}
            <a class="page-link" href="#">&gt</a>
        {% endif %}
    </li>
    <li class="page-item">
        {% if num_page|add:"10" <= num_pages_total %}
            <a class="page-link" href="http://127.0.0.1:8000/search/{{ num_page|add:"10" }}">&gt&gt</a>
        {% else %}
            <a class="page-link" href="http://127.0.0.1:8000/search/{{ num_pages_total }}">&gt&gt</a>
        {% endif %}
    </li>
  </ul>
</nav>
</footer>
</body>
</html>

{% endblock %}